
.required {
    color: red;
  }

 
  .survey{
   display: flex;
   justify-content: start;
   flex-wrap: wrap;
   align-content: flex-start;
   gap:1rem;
   font-size: small;
   border: 2px solid whitesmoke;
   width: 550px;
   height: 650px;
   margin: 0 auto;
   padding:12px;
  
   }
 
   .namelabel {
   
    margin-right: 12em;
    
  }

   #email{
    width: 350px;
   }
   #text-area{
    width: 550px;
    height: 60px;
   
  }
  #submit{
    padding:7px;
  }
th{
    font-weight: normal;
    align-items: center;
}

td{
  text-align: center;
 
}
#like_cls{
  text-align: left;
  padding-top: 5px;
}
.td_cls{
  text-align: left;
  padding:5px ;
}

.checked {
  color: orange;
}

tr:nth-child(even) {background-color: #f2f2f2;}